# Dependencies
node_modules/
**/node_modules/

# Environment Variables
.env
.env.local
.env.*.local
**/.env
**/.env.local

# Build Output
dist/
**/dist/
build/

# Database & Temporary files
*.db
*.db-journal
*.db-wal
*.db-shm
*.log

# Editor & System files
.vscode/
.idea/
.DS_Store
Thumbs.db
