# Dependencies
node_modules/
**/node_modules/

# Environment Variables
.env
.env.local
.env.*.local
**/.env

# Build Output
dist/
**/dist/
build/

# Database & Temporary files
*.db-journal
*.log

# Editor & System files
.vscode/
.idea/
.DS_Store
Thumbs.db
